[submodule "minimal"]
	path = html/minimal
	url = http://github.com/hagstrand/minimal.git
[submodule "jslib"]
	path = html/jslib
	url = https://github.com/hagstrand/jslib.git
[submodule "icon"]
	path = html/icon
	url = https://github.com/hagstrand/icon.git
[submodule "php/account"]
	path = php/account
	url = https://github.com/voyc/account
