
/* typography */


/* layout */
panel>div.panelimg {
	float:left;
	text-align:center;
}



chapter {
	display:block;
	border-top:1px solid rgb(192,192,192);
	border-left:1px solid rgb(192,192,192);
	border-right:1px solid rgb(192,192,192);
}
chapter:last-child {
	border-bottom:1px solid rgb(192,192,192);
}

header button[toggle] {
	margin-left:.5em;
}

chart {
	display:inline-block;
	width:100%;
	height:6rem;
}

panel chart {
	display:inline-block;
	width:7rem;
	height:6rem;
	padding:.4rem;
}

panel img {
	width:6rem;
}

panel p {
	text-align:center;
}

story {
	font-family: serif;
}

story .gift {
	color: rgb( 0, 0,255);
}
story .nourishment {
	color: rgb( 0, 192, 0);
}
story .burnout {
	color: rgb( 255, 0, 0);
}
story textarea {
	width: 100%;
}
