span {
	border: 1px solid black;
}
input {
	max-width:8em;
}
.loginheadercomponent {
	display: inline;
}
.error {
	color:red;
	border-color:red;
}
#dialog {
	border: 1px solid black;
	margin: 4px;
	padding: 4px;
	min-height:200px;
}
#offscreen {
	opacity:.5;
}
.dialog {
	border: 1px solid black;
	margin: 4px;
	padding: 4px;
	float: left;
}
