* {
	font-family: calibri;
}
h1 {
	margin:0px;
	font-size:1em;
}
.sub {
	width:100%;
}
.block {
	border:1px solid gray;
	padding:10px;
	border-radius:4px;
	max-width:250px;
	width:150px;
	height:200px;
	overflow-x:scroll;
	overflow-y:scroll;
	vertical-align:top;
}
.line {
	white-space:nowrap;
	display:block;
}
#toprow {
	border-bottom:1px solid gray;
	margin-bottom:20px;
}
#bottomrow {
	padding-top:14px;
}
#fields {
	text-align:right;
	padding-right:20px;
	width:20%;
}
#svcs {
	padding-left:16px;
	border-left:1px solid gray;
}
#gobtn {
	text-align:center;
	padding:20px;
}
#ok {
	padding-top:10px;
}
p {
	margin:0px 0px 0px 12px;
}
input[type='text'] {
	margin:3px 0px;
}
input[type='radio'] {
	margin:6px 4px;
}
.red {
	color:red;
}
.copybtn {
	margin-right:5px;
}
#changepassword p {
	margin:6px 12px;
}
