.ans {
	text-decoration:underline;
	color:blue;
	font-weight:normal;
	//float:left;
	margin:0.5rem 2rem;
	cursor: pointer;
}
.ans.chosen {
	text-decoration:none;
	color:black;
	font-weight:bold;
}
.qcontainer {
	padding:10rem 0 2rem 0;
}
.qblock {
	clear:both;
	padding:1rem 0rem 0rem 1rem;
}
.qheader {
	position:fixed;
	top:1rem;
	background-color:cyan;
	width:100%;
}
.qfooter {
	position:fixed;
	bottom:0rem;
	text-align:center;
	width:100vh;
}
.qscroller {
	xoverflow-y:auto;
	xheight:20rem; /* calc(100% - 10rem); */
	xborder:1px solid black;
}
